
<div class="col-md-4 offset-md-4">
  <h3 style="background-color:blue;color:white;text-align:center"> Add Employee </h3>
  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Name" name="EmpName" [(ngModel)]="model.EmpName" #EmpName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && EmpName.invalid }" required />
      <div *ngIf="f.submitted && EmpName.invalid" class="invalid-feedback">
        <div *ngIf="EmpName.errors.required"> Name is required</div>
      </div>
    </div>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Email" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
      <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
        <div *ngIf="email.errors.required">Email is required</div>
        <div *ngIf="email.errors.email">Email must be a valid email address</div>
      </div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Education" name="Education" [(ngModel)]="model.education" #Education="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Education.invalid }" required />
      <div *ngIf="f.submitted && Education.invalid" class="invalid-feedback">
        <div *ngIf="Education.errors.required"> Education is required</div>
      </div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Address" name="Address" [(ngModel)]="model.Address" #Address="ngModel" />
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Phone No" name="PhoneNo" [(ngModel)]="model.PhoneNo" #PhoneNo="ngModel" [ngClass]="{ 'is-invalid': f.submitted && PhoneNo.invalid }" required minlength="10" maxlength="10" />
      <div *ngIf="f.submitted && PhoneNo.invalid" class="invalid-feedback">
        <div *ngIf="PhoneNo.errors.required">PhoneNo is required</div>
        <div *ngIf="PhoneNo.errors.minlength">PhoneNo must be at least 10 characters</div>
      </div>
    </div>
    <div class="form-group">
      <input type="date" placeholder="Birth Date" class="form-control" name="BirthDate" [(ngModel)]="model.BirthDate" #BirthDate="ngModel" [ngClass]="{ 'is-invalid': f.submitted && BirthDate.invalid }" required />
      <div *ngIf="f.submitted && BirthDate.invalid" class="invalid-feedback">
        <div *ngIf="BirthDate.errors.required">Birth Date is required</div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="Department">Department</label>
        <select class="form-control" data-val="true"  name="Department" [(ngModel)]="model.departmentID">
          <option value="-1" selected="selected">--Select Department--</option>
          <option *ngFor="let department of departmentList"
                  value={{department.id}}>
            {{department.deptName}}
          </option>
        </select>
     
      <div *ngIf="f.submitted && Department.invalid" class="invalid-feedback">
        <div *ngIf="Department.errors.required">Department  is required</div>
      </div>
    </div>
    <div class="form-group text-center">
      <button [disabled]="loading" class="btn btn-primary">Add</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      <a [routerLink]="['']" class="btn btn-link">Cancel</a>
    </div>
  </form>
</div>
